timeout = 10
listen-address = ":8000"

[log]
level = "debug"
json  = false

[[chains]]
name             = "{{ hostvars[inventory_hostname].chain_name }}"
lcd-endpoint     = "http://localhost:1317"
base-denom       = "stake"
denoms = [
  { denom = "stake", display-denom = "stake", coingecko-currency = "cosmos", denom-exponent = 6, ignore = false }
]
bech-wallet-prefix = "cosmos"

# 한 줄로 inline table 작성
validators = [ { address = "{{ hostvars[inventory_hostname].valoper_address | trim }}", consensus-address = "{{ hostvars[inventory_hostname].valcons_address | trim }}" } ]

delegator-address = "{{ hostvars[inventory_hostname].delegator_address | trim }}"
is-provider       = false

[chains.queries]
delegations         = true
unbonds             = true
self-delegation     = true
validators          = true
consumer-validators = true
consumer-info       = true
commission          = true
rewards             = true
balance             = true
assigned-key        = true
signing-info        = true
slashing-params     = true
params              = true
staking-params      = true
node-info           = true
